/* ostylowanie hosta */
:host {
  display: flex;
  border: 1px solid red;
}

/* ostylowanie elementu z ng-content - nie zadziała */
.inside-content {
  border: 1px solid blue;
  color: blue;
}

/* ostylowanie elementu z ng-content */
:host ::ng-deep {
  div {
    flex-grow: 1;
  }

  .green {
    border: 1px solid green;
    color: green;
  }

  .red {
    border: 1px solid red;
    color: red;
  }
}
